/*Welcome*/
.HeroImg{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("img/HeroImage.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.HeroImg .welcome{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.HeroImg .welcome hr{
    width: 590px;
    height: 2px;
    background: var(--white);
    border: none;
    margin-top: 5px;
}
.HeroImg .welcome{
    font-size: 20px;
    color: var(--white);
    margin-top: 20px
}
.HeroImg .welcome >button{
    margin-top: 20px;
    padding: 0px 50px;
}

/*What is DermApp*/
.about{
    width: 100%;
    text-align: center;
}

.about h2{
    margin-top: 100px;
}

.about_container{
    max-width: 1500px;
    margin:auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about_info{
    max-width: 500px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_line{
    display:flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.about_line p{
    margin: 10px;
    text-align: justify;
}

.about_img{
    max-height: 600px;
    display: flex;
    width: auto;
    margin:auto;
    overflow:hidden;
    z-index: 20;
}